<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/etusivu.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">
</head>
<body>
    <div class="otsikko-kontaineri">
        <h1 class="otsikko">Airport Quest</h1>
    </div>
    <div class="valikko-kontaineri">
        <div class="nappikontaineri">
            <a class="valikko-nappi" id="pelaa_nappi">Pelaa</a>
            <a class="valikko-nappi" id="pisteet_nappi">Pisteet</a>
            <a class="valikko-nappi" id="saannot-nappi">Säännöt</a>
        </div>
    </div>
</body>
</html>
