<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/jatketaanko.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">
</head>
<body>
    <div class="otsikko-kontaineri">
        <h1 class="otsikko">Airport Quest</h1>
    </div>
    <div class="valikko-kontaineri">
        <div class="nappikontaineri">
            <a class="valikko-nappi" id="jatka_nappi">Jatka</a>
            <a class="valikko-nappi" id="uusipeli_nappi">Uusi peli</a>
            <a class="valikko-nappi peruuta-nappi" id="peruuta_nappi">Peruuta</a>
        </div>
    </div>
</body>
</html>


