<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/etusivu.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">
</head>
<body>
    <div class="main-title-container">
        <h1 class="main-title">Airport Quest</h1>
    </div>
    <div class="menu-container">
        <div class="button-container">
            <a href="pelisivu.html" class="menu-button">Jatka</a>
            <a href="pelisivu.html" class="menu-button">Uusi peli</a>
            <a href="etusivu.html" class="menu-button">Peruuta</a>
        </div>
    </div>
</body>
</html>

