<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/pisteet.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">


</head>
<body>
  <h1>Pistetaulukko</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nimi</th>
        <th>Ranking</th>
      </tr>
    </thead>
    <tbody id="pistetaulukko">

    </tbody>
  </table>

  <a class="etusivunappi" id="etusivunappi">Etusivulle</a>
</body>
</html>
