<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">
</head>
<body>
  <h1>Säännöt</h1>
  <div class="saannot-kontainer">
    <p>
      Peliin voi osallistua 1–6 pelaajaa. Pelaajat antavat itselleen nimimerkit ja valitsevat, missä maanosassa tai maassa he haluavat pelata. Tämän jälkeen peli alkaa. Peli koostuu viidestä kierroksesta. Jokaisella kierroksella pelaajalle annetaan satunnainen lentokenttä jostakin maasta, ja pelaajan tehtävä on klikata kartalta mahdollisimman lähelle oikeaa lentokenttää annetun aikarajan puitteissa. Mitä lähemmäs pelaaja osuu oikeaa sijaintia, sitä enemmän hän saa pisteitä. Maksimipistemäärä on 100 pistettä per kierros, eli kokonaispistemäärä voi olla enintään 500 pistettä.
    </p>
  </div>

  <a class="etusivunappi" id="etusivunappi">Etusivulle</a>
</body>
</html>