<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Quest</title>
    <script src="../static/saannot.js" defer></script>
    <link rel="stylesheet" href="../static/tyylit.css">
</head>
<body>
  <h1>Säännöt</h1>
  <div class="saannot-kontainer">
    <p>
      Pelin säännöt ovat seuraavat: Peliin voi osallistua 1-6 pelaajaa.
      Pelaajat valitsevat pelin alussa, missä maanosassa he pelaavat.
      Valinnan jälkeen pelaajalta pyydetään nimimerkki, jonka jälkeen peli alkaa.
      Peli koostuu viidestä kierroksesta. Jokaisella kierroksella pelaajalle annetaan lentokenttä jostakin maasta, ja hänen tehtävänään on arvata, missä maassa kyseinen lentokenttä sijaitsee.
      Pelaajalla on viisi arvauskertaa per kierros, ja jokaisesta väärästä arvauksesta vähennetään yksi piste.
      Jos pelaaja arvaa oikein ensimmäisellä yrityksellä, hän saa täydet 5 pistettä. Maksimipistemäärä on 5 pistettä per kierros, eli yhteensä 25 pistettä kaikista viidestä kierroksesta.
    </p>
  </div>

  <a class="etusivunappi" id="etusivunappi">Etusivulle</a>
</body>
</html>