<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelaajat</title>
    <link rel="stylesheet" href="../static/tyylit.css">
    <script src = "../static/uusipeli.js" defer></script>
</head>
<body>
    <div class="otsikko-kontaineri">
        <h1 class="otsikko">Pelaajat</h1>
    </div>
    <div class="pelaajakontaineri">
        <form class="pelaajalomake">
            <div class="pelaajarivi">
                <div class="pelaaja-syotekontaineri">
                    <label for="player1" class="pelaaja-otsikko">Pelaaja 1</label>
                    <input type="text" id="player1" class="pelaaja-syote" placeholder="Nimi">
                </div>
                <div class="pelaaja-syotekontaineri">
                    <label for="player2" class="pelaaja-otsikko">Pelaaja 2</label>
                    <input type="text" id="player2" class="pelaaja-syote" placeholder="Nimi">
                </div>
            </div>
            <div class="pelaajarivi">
                <div class="pelaaja-syotekontaineri">
                    <label for="player3" class="pelaaja-otsikko">Pelaaja 3</label>
                    <input type="text" id="player3" class="pelaaja-syote" placeholder="Nimi">
                </div>
                <div class="pelaaja-syotekontaineri">
                    <label for="player4" class="pelaaja-otsikko">Pelaaja 4</label>
                    <input type="text" id="player4" class="pelaaja-syote" placeholder="Nimi">
                </div>
            </div>
            <div class="pelaajarivi">
                <div class="pelaaja-syotekontaineri">
                    <label for="player5" class="pelaaja-otsikko">Pelaaja 5</label>
                    <input type="text" id="player5" class="pelaaja-syote" placeholder="Nimi">
                </div>
                <div class="pelaaja-syotekontaineri">
                    <label for="player6" class="pelaaja-otsikko">Pelaaja 6</label>
                    <input type="text" id="player6" class="pelaaja-syote" placeholder="Nimi">
                </div>
            </div>
            <div class="pelaajanappikontaineri">
              <a class="valikko-nappi start-nappi" id="aloita_nappi">Aloita</a>
              <a class="valikko-nappi peruuta-nappi" id="peruuta_nappi">Peruuta</a>
            </div>
        </form>
    </div>
</body>
</html>

